.display-data {
    padding: 2em 12em 2em 12em;
}
.header-flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.user-header {
    font-size: xx-large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.add-button {
    margin-right: 2em;
}
img {
    height: 12em;
    width: 22em;
    border: 3px solid black;
}
.flex-container {
    display: flex;
    padding: 1em;
    justify-content:space-between;
    align-items: center;
}
.left-side {
    display: flex;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
}
.goal-name {
    font-weight:bold;
    font-size: x-large;
}
.goal-description {
    font-size: medium;
    color: #495057;
    width: 25em;
}
.bottom {
    padding-bottom: 1.5em;
}
.progress {
    font-weight: 700;
    font-size: larger;
    padding-bottom: 1.25em;
    background-color: white;
}
.right-side {
    padding: 0.5em;
    margin-left: 1em;
}
.date {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border: 3px solid black;
    padding: 0.5em;
}
.view {
    padding: 0.25em 0em 0em 0.25em;

}
.delete {
    padding-top: 0.25em;
} 
