<div class="display-data">
    <p-dataView [value]="goals" [paginator]="true" [rows]="3">
        <ng-template pTemplate="header">
            <div class="header-flex">
                <div class="user-header">{{userFromHome.firstName}}'s Goals</div>
                <div class="add-button"><button pButton class="p-button-success" pRipple type="button" icon="pi pi-plus" iconPos="left" label="New Goal" (click)="toggleDisplayNewGoal()"></button></div>
            </div>
        </ng-template>
        <ng-template let-goal pTemplate="listItem">
            <div class="flex-container">
                <div class="left-side">
                    <div><img src="../../../assets/{{goal.image}}" alt="goal image"></div>
                    <div class="details">
                        <div class="top">
                            <div class="goal-name">{{goal.name}}</div>
                            <div class="goal-description">{{goal.description}}</div>
                        </div>
                        <div class="bottom">
                            <div class="progress">Progress:</div>
                            <div class="goal-money"><b>{{goal.currentAmount | currency}}</b> of <b>{{goal.totalAmount | currency}}</b></div>
                            <div><p-progressBar [value]="((goal.currentAmount / goal.totalAmount) * 100)" [style]="{'height': '1.5em', 'width': '30em', 'border-radius': '25px'}"></p-progressBar></div>
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="date">{{goal.date | date:'LLL dd, yyyy'}}</div>
                    <br>
                    <div class="view"><button pButton pRipple type="button" label="View Goal" (click)="sendDataToView(goal)"></button></div>
                    <div class="edit"><button pButton pRipple type="button" label="Update Goal" (click)="toggleDisplay(); convertGoal(goal)"></button></div>
                    <div class="delete">
                        <form (submit)="confirm(goal.id)">
                            <button pButton pRipple type="submit" label="Delete Goal"></button>
                        </form>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div [hidden]="isDisplay" class="bg-create-modal">
    <div class="create-content">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text close" (click)="toggleDisplay()"></button>
        <h2>Edit Your Goal:</h2>
        <div class="flex-form">
            <div>
                <img class="logo" src="../../../assets/{{updatedGoal.image}}" alt="Spyglass Logo">
            </div>
            <div class="form">
                <form [formGroup]="updateForm" (submit)="submit(updatedGoal, updatedGoal.id)">
                    <div class="form-content">
                        <div class="title-desc">
                            <label>Name:</label> <br>
                            <input type="text" pInputText formControlName="name" placeholder="{{updatedGoal.name}}" [(ngModel)]="updatedGoal.name" value="{{updatedGoal.name}}"> <br>
                            <label>Picture:</label> <br>
                            <input type="text" pInputText formControlName="image" placeholder="{{updatedGoal.image}}" [(ngModel)]="updatedGoal.image" value="{{updatedGoal.image}}"> <br>
                            <label>Target Date:</label>
                            <p-calendar inputId="basic" formControlName="date" placeholder="{{updatedGoal.date}}"[(ngModel)]="updatedGoal.date" [defaultDate]="updatedGoal.date"></p-calendar> <br>
                        </div>
                        <div class="img-date">
                            <label>Description:</label>
                            <textarea pInputTextarea class="p-inputtextarea p-inputtext p-component p-element p-inputtextarea-resizable" formControlName="description" [rows]="8.25" [cols]="30" [(ngModel)]="updatedGoal.description" value="{{updatedGoal.description}}"></textarea> <br>
                        </div>
                        <div class="money">
                            <label>Current Savings:</label> <br>
                            <p-inputNumber mode="currency" currency="USD" formControlName="currentAmount" [(ngModel)]="updatedGoal.currentAmount">{{updatedGoal.currentAmount}}</p-inputNumber> <br>
                            <label>Goal Savings:</label>
                            <p-inputNumber mode="currency" currency="USD" formControlName="totalAmount" [(ngModel)]="updatedGoal.totalAmount">{{updatedGoal.totalAmount}}</p-inputNumber> <br>
                        </div>
                    </div>
                        <button pButton type="submit" class="p-button-raised p-button-rounded">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div [hidden]="isDisplayNewGoal" class="bg-create-modal">
    <div class="create-goal">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text close" (click)="toggleDisplayNewGoal()"></button>
        <h2>Add Your New Goal:</h2>
        <div class="new-goal-flex">
            <div class="img-container">
                <img class="new-goal-img" src="../../../assets/jar.png" alt="Spyglass Logo">
            </div>
            <div>
                <form [formGroup]="newGoalForm" (submit)="saveGoal()">
                    <div class="whole-form">
                        <div class="new-goal-form">
                            <div class="name-img-date">
                                <label>Goal Name:</label> <br>
                                <input type="text" class="input-field" pInputText formControlName="name" placeholder="Goal Name" [(ngModel)]="newGoal.name"> <br>
                                <label>Image File Name:</label> <br>
                                <input type="text" class="input-field" pInputText formControlName="image" placeholder="Image File Name" [(ngModel)]="newGoal.image" > <br>
                                <label>Target Date:</label> <br>
                                <p-calendar class="input-field" inputId="basic" formControlName="date" placeholder="Target Date" [(ngModel)]="newGoal.date" ></p-calendar> <br>
                            </div>
                            <div>
                                <label>Goal Description:</label> <br>
                                <textarea pInputTextarea class="p-inputtextarea p-inputtext p-component p-element p-inputtextarea-resizable input-field"  placeholder="Goal Description" formControlName="description" [rows]="8.25" [cols]="20" [(ngModel)]="newGoal.description"></textarea> <br>
                            </div>
                        </div> 
                        <div class="numbers">
                            <div class="current-amount">
                                <label>Current Total Saved:</label> <br>
                                <p-inputNumber class="input-field" mode="currency" currency="USD"  placeholder="Current Total Saved" formControlName="currentAmount" [(ngModel)]="newGoal.currentAmount"></p-inputNumber> <br>
                            </div>
                            <div class="total-amount">
                                <label>Target Total:</label> <br>
                                <p-inputNumber class="input-field" mode="currency" currency="USD" placeholder="Target Total" formControlName="totalAmount" [(ngModel)]="newGoal.totalAmount"></p-inputNumber> <br>  
                            </div>
                        </div>
                        <div class="button">
                            <button pButton type="submit" class="p-button-raised p-button-rounded">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>