<div class="background-image">
    <div class="content">
        <h1>Spyglass Financial Goal Tracker</h1>
        <div class="description">
            Save for any future financial plans using Spyglass. 
            From the smallest to largest goal, Spyglass can help you track 
            and manage progress towards your financial success.
        </div>
        <div class="buttons">
            <button class="sign" pButton pRipple type="button" label="Sign In"></button>
            <button class="create" pButton pRipple type="button" label="Create Account"></button>
        </div>
    </div>
</div>
